html {
    font-size: 80%;
}
body {
    font-family: sans-serif;
}

form {
    border: 2px solid lightgrey;
    padding: .6rem; /*espaço interno*/
    border-radius: 0 .4rem .4rem .4rem; /*fazer as bordas personalizadas */   
}

textarea {
    resize: none; /*é a ideia de reposicionar o elemento*/
    width: 100%; /*tem que ocupar todo o espaço*/
    border: none;
    font-size: .8rem;
    font-family: sans-serif; /*não tem as curvinhas no fim das letras(sem serif)*/
}

footer {
    display: flex; /*automaticamente põe um elemento ao lado do outro*/
    align-items: center; /*para deixar todos os itens da caixa do footer alinhados ao meio*/
    justify-content: space-between; /*para dar espaço entre os elementos*/
}
.an {
    display: flex;
    align-items: center;
}
.an span{
    background: grey;
    width: 8px;
    height: 8px;
    margin-right: .4rem; /* para dar espaços por fora de uma caixa*/ 
}
button {
    height: 30px;
    background: lightblue;
    border: none;
    border-radius: .4rem;
    color: white;
}